body {
  background-color: #fff6e6;
}

.App {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  width: 770px;
  margin: 60px auto;
}

.App hr {
  border-top: 2px solid #fabf58;
}
